<%- include('partials/header') %>
<body>
  <main>
    <table>
      <tr>
        <th>Title</th>
        <th>url</th>
        <th>description</th>
        <th>rating</th>
      </tr>
      <% for(video of videos) { %>
      <tr>
        <td><%= video.title %></td>
        <td><%= video.url %></td>
        <td><%= video.description %></td>
        <td><%= video.rating %></td>
      </tr>
      <% }; %>
    </table>
  </main>
</body>
<%- include('partials/footer') %>
